@import "shared_variables";

.galleryContainer {
    width: 100%;
    height: auto;
    margin-top: 10%;
    a {
        color: $textcolor;
        text-decoration: none;
    }
    .galleryWrap {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr); // 4 colonnes
        grid-template-rows: auto;
        grid-gap: 30px;
        .galleryCard {
            width: 100%;
            max-height: 350px;
            min-height: 300px;
            height: auto;
            background-color: #252525;
            border: 1px white solid;
            border-radius: 10px;
            padding: 10px;
            box-sizing: border-box;
            transition: transform 0.3s ease-in;
            &:hover {
                cursor: pointer;
                color: $activetext;
                transform: scale(1.05);
            }
            .cardTitle {
                font-size: 1.5em;
                text-align: center;
            }
            img {
                width: 100%;
                border-radius: 5px;
                object-fit: cover;
            }
            .galleryCardContent {
                display: flex;
                flex-direction: column;
                .cardInfo {
                    min-height: 45px;
                }
                .cardUniqueID {
                    display: flex;
                    color: black;
                    background-color: white;
                    border-radius: 10px;
                    padding: 10px;
                    box-sizing: border-box;
                    font-weight: bold;
                    text-align: center;
                    object-fit: cover;
                    max-height: 100px;
                    .cardNumber {
                        width: 100%;
                        font-size: 1.3em;
                    }
                }
                .cardPrototypeContainer {
                    display: inline-flex;
                    justify-content: space-between;
                    margin-top: 5px;
                    .cardPrototype {
                        font-size: 8px;
                    }
                }
            }
        }
    }
}
